<!DOCTYPE HTML>

<html>
	<head>
    {{ $title := .site.Title }}
    <title>
      {{ $title }}
    </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta property="og:title" content="{{ $title }}" />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="images/header-title-img.png"/>
		<meta name="robots" content="index,follow">
		<link rel="stylesheet" href="static/css/main.css" />
		<noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>
		<link rel="alternate" hreflang="de" href="https://feministclickback.org/ueber.html" />
		<link rel="stylesheet" href="static/css/main.css" />
		<noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>
    <!-- Piwik -->
    <script type="text/javascript">
    var _paq = _paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
    var u="//feministclickback.org/analytics/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
    </script>
    <!-- End Piwik Code -->
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<div class="first-row">
				<a href="index.html" class="title">feministclickback</a>
				<span class="navbar-toggle" id="js-navbar-toggle">
					<div class="menu-bar-container" onclick="iconChange(this)">
  					<div class="bar1"></div>
  					<div class="bar2"></div>
  					<div class="bar3"></div>
					</div>
				</div>
				<nav class="navbar">
					<ul class="main-nav" id="js-menu">
						<li><a href="index.html">Start</a></li>
						<li><a href="#" class="active">Über</a></li>
						<li><a href="anleitungen.html">Anleitungen</a></li>
						<li><a href="workshops.html">Workshops</a></li>
						<li><a href="glossar.html">Glossar</a></li>
						<li><a href="kontakt.html">Kontakt</a></li>
					</ul>
					</span>
					<script>
					let mainNav = document.getElementById('js-menu');let navBarToggle = document.getElementById('js-navbar-toggle');
					navBarToggle.addEventListener('click', function () {

    			mainNav.classList.toggle('active');});
					function iconChange(x) {
  					x.classList.toggle("change");
						}
					</script>
				</nav>
			</header>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main" class="wrapper">
						{{ block "main" . }}{{ end }}
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li><a href="impressum.html">Impressum und Datenschutz</a></li><li>Design: modified <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
