{{ define "header" }}
  <header id="header">
    <div class="first-row">
    <a href="/" class="title">feministclickback</a>
    <span class="navbar-toggle" id="js-navbar-toggle">
      <div class="menu-bar-container" onclick="iconChange(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
    </div>
    <nav class="navbar">
    <ul class="main-nav" id="js-menu">
    {{ $currentPage := . }}
    {{ range .Site.Menus.headerMenu }}
    <li><a class="sidebar-nav-item{{if or ($currentPage.IsMenuCurrent "headerMenu" .) ($currentPage.HasMenuCurrent "headerMenu" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a></li>
    {{ end }}
    </ul>
      </span>
      <script>
      let mainNav = document.getElementById('js-menu');let navBarToggle = document.getElementById('js-navbar-toggle');
      navBarToggle.addEventListener('click', function () {

      mainNav.classList.toggle('active');});
      function iconChange(x) {
        x.classList.toggle("change");
        }
      </script>
    </nav>
  </header>
{{ end }}
{{ define "wrapper" }}
<section id="main" class="wrapper">
  <div class="inner">
    <h1 class="major">{{ .Title }}</h1>
    <div class="inner-content">
      {{ .Content }}
    </div>
  </div>
</section>
{{ end }}
